.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  background-color: white;
  width: 340px;
  height: min-content;
}

/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding-top: 100px;
}

.movie-rating {
  font-size: 20px;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 1rem auto;
  gap: 1rem;
  padding-top: 100px;
}

.edit-movie-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 1rem auto;
  gap: 1rem;
}

.home {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found {
  text-align: center;
}

.not-found-img {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.movie-detail-container {
  max-width: 650px;
  padding: 15px;
}

.movie-detail {
  padding-top: 60px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 1rem auto;
  gap: 1rem;
  padding-top: 80px;
}

.edit-loading {
  padding-top: 90px;
}

.signup-footer {
  text-align: center;
}

.color {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.header {
  text-align: center;
}

.toolbar .toggle {
  color: white;
  display: none;
}

.toolbar .logo{
  font-size: 2px;
}

@media screen and (max-width:600px) {

  .toolbar .nav-menu {
    position: absolute;
    top: 56px;
    width: 100%;
    background-color: #1976d2;
    flex-direction: column;

  }

  .nav-menu .menu {
    display: flex;
    flex-direction: row;
    /* padding: 15px; */
    color: white;
  }

  .toolbar .toggle {
    display: block;
    justify-content: center;
  }
}